<div class="container">
  <div class="options">
    <div class="logo">
      <img class="github-logo" src="assets/github-logo.png" alt="Logo GitCher">
      <span class="logo-text">gitcher</span>
    </div>
    <button id="add-account" class="btn-add" (click)="showModal = true">
      <i class="fa-solid fa-circle-plus"></i>
      <span>Adicionar</span>
    </button>
  </div>

  <div class="accounts">
    <ng-container *ngIf="accounts.length > 0; else noAccounts">
      <app-card
        *ngFor="let acc of accounts"
        [account]="acc"
        [linkedRepos]="getLinkedRepos(acc.id)"
        [usedLocally]="isAccountUsedLocally(acc.id)"
        (activate)="setActive($event)"
        (activateLocal)="setLocal(acc)"
        (edit)="openEditModal($event)"
        (remove)="removeAccount($event)"
      />
    </ng-container>

    <ng-template #noAccounts>
      <div class="no-accounts">
        <i class="fas fa-user-slash"></i>
        <p>Nenhuma conta adicionada ainda.</p>
      </div>
    </ng-template>
  </div>
</div>

<app-account-modal
  *ngIf="showModal"
  [account]="selectedAccount"
  (submit)="handleSubmit($event)"
  (close)="handleClose()"
/>
